.header-box {
  background-color: rgb(60, 60, 145);
  color: white;
  font-family: sans-serif;
  border: 5px solid rgb(0, 0, 0);
  font-size: 20px;
  padding: 15px;
  text-align: center;
  margin: 30px;
}

.header-title {
  margin: 0;
}

button {
  width: calc(calc(100vw - 10px) / 25);
  height: calc(calc(100vw - 10px) / 25);
  border-radius: 50%;
  background-color: rgb(214, 211, 211);
  border: 1px solid black;
  margin: 10px;
  display: inline-block;
  font-size: 17px;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button:hover {
  background-color: lightgray;
}

.rhythm-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.done-rhythm {
  background-color: rgb(60, 60, 145);
  color: white;
  font-family: sans-serif;
  border: 5px solid rgb(0, 0, 0);
  font-size: 30px;
  border-radius: 0%;
  width: 330px;
  height: 70px;
}

div#num-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 15px;
  width: 80%;
  margin: 0 auto;
}

input#pitch-entry {
  display: flex;
  justify-content: center;
  width: calc(100vw - 90px);
  margin: 20px;
  font-size: 25px;
}

.process-notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.process-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 60, 145);
  color: white;
  font-family: sans-serif;
  border: 5px solid rgb(0, 0, 0);
  font-size: 30px;
  border-radius: 0%;
  width: 330px;
  height: 70px;
}

#note-errors {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 15px;
}
